* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.news-principalities{
  display: grid;
  grid-template-columns: 55% 0.1% 44.9%;
  grid-template-rows: 1fr;
}

.img-silksong{
width: 45rem;
height: 35rem;
margin-left:10rem ;
margin-top: 5rem;
}

.titulo-silksong{
  font-size: 2rem;
  font-weight: bold;
  margin-left:10rem ;
  margin-top: 1rem;
}

.texto-silksong{
  font-size: 1rem;
  margin-left:10rem ;
  margin-top: 1rem;
  width: 45rem;
  text-align: justify;
  text-justify: inter-word;
}
